.header--psalms{
  background-color: #7b9139;
  /* box-shadow: 0 8px 6px -6px #999; */
  z-index: 100;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  margin-bottom: 4px;
  padding: 0 20px;
}
.header__list{
  list-style: none;
  text-align: right;
  width: 90%;
  margin:auto;
}
.header__column{
  margin: auto;
}
.header__column--center{
  text-align: center;
  /* width: 50%; */
  flex-grow: 2;
}
/* .header__column--sides{
  width: 25%;
} */
.header__column a{
  color: white;
}